main {
    padding: 50px 90px 50px 90px;
}

.main-lines {
    font-size: 4rem;
    width: 550px;
    padding:  0.6rem;
    text-align: center;
}


/* First line (Front - end) */
.firstline-animation {
    overflow: hidden;
}

.firstline {
    background-color: var(--coralred);
    position: relative;
    left: 160px;
    margin-bottom: 10px;
    animation: firstline-animation 2.5s ease-out;
}

@keyframes firstline-animation {
    0%   { 
    transform: translateX(70%); 		
    }
}


/* Second line (Developer) */
.secondline-animation {
     overflow: hidden;
} 

.secondline {
    background-color: var(--yellow);
    position: relative;
    left: 390px;
    margin-bottom: 10px;
    animation: secondline-animation 2.5s ease-out;
}

@keyframes secondline-animation {
    0% { 
        transform: translateX(-50%); 		
    }
}


/* Third line (Portfolio) */
.thirdline-animation {
    overflow: hidden;
}

.thirdline {
    background-color: var(--blue);
    position: relative;
    left: 250px;
    margin-bottom: 30px;
    animation: thirdline-animation 2.5s ease-out;
}

@keyframes thirdline-animation {
    0%   { 
    transform: translateX(70%); 		
    }
} 


/* Fourth line (Martina Maximova and Check out my work button) */
.fourthline-animation{
    overflow: hidden;
}

.fourthline {
    display: flex;
    justify-content: space-between;
    animation: fourthline-animation 2.5s ease-out;
}

@keyframes fourthline-animation {
    0%   { 
    transform: translateX(-20%); 		
    }
    /* 0% { 
    transform: translateX(0%); 
    } */
}

.fourthline > p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 145px;
}


/* Check out my work button */
.btn-checkOut > a {
    display: flex;
    margin-right: 100px;
    margin-top: 5px;
}

.btn-checkOut-h2 {
    color: var(--black);
    margin-right: 10px;
    font-size: 1.3rem;
}

